<h2>{{name}}</h2>
      <hr>
      <input class="input" name="text" placeholder="Search..." type="search">
      <br>
      
      {{#if success}}
          <div class='alert alert-success d-flex align-items-center' role='alert'>
              <div>
                  <i class='fa-regular fa-circle-check' style='color: #307722;'></i>
                  {{success}}
              </div>
          </div>
      {{/if}}
      {{#if error}}
          <div class='alert alert-danger d-flex align-items-center' role='alert'>
              <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  fill='currentColor'
                  class='bi bi-exclamation-triangle-fill flex-shrink-0 me-2'
                  viewBox='0 0 16 16'
                  role='img'
                  aria-label='Warning:'
              >
                  <path
                      d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'
                  ></path>
              </svg>
              <div>
                  {{error}}
              </div>
          </div>
      {{/if}}
      <hr>
      <div style="position: relative" class="row">

        {{!-- Task Info --}}
        <div id="task-info" class="task-info col-md-5">
          <h4></h4>
          
          {{!-- <div class="link-issue my-3">
            <button class="interact btn btn-primary"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-primary interact" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button> --}}
          
          {{!-- <button data-mdb-toggle="modal" data-mdb-target="#staticBackdrop" type="button" class="interact btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add member</button> --}}
          {{!-- <button class="interact btn btn-primary">...</button>
          </div> --}}
          

          {{!-- Description Here --}}
          {{!-- <div class="description-box mb-3"> 
            <span><strong>Description</strong></span>
            <br>
            <p></p>
          </div> --}}


          {{!-- Attachment Here --}}
          {{!-- <div class="attachment-box mb-3"> 
            <span><strong>Attachments (3)</strong></span>
            <br>
            <div class="task-single">
              <img src="https://picsum.photos/200/200" alt="">
              <div class="attach-info px-2 py-2">
                <span style="font-weight: 600">attach.png</span>
                <p class="mb-0">03/04/2023 19:00:00</p>
              </div>
            </div>
            <div class="task-single">
              <img src="https://picsum.photos/200/200" alt="">
              <div class="attach-info px-2 py-2">
                <span style="font-weight: 600">attach.png</span>
                <p class="mb-0">03/04/2023 19:00:00</p>
              </div>
            </div>
          </div> --}}
          
        </div>

        {{!-- Task List --}}
        <div class="col-md-8">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3  px-1 ml-2 mb-5">          
          <div style="background-color: #F4F5F7" class="card rounded-0 shadow-sm px-2 py-2">
            {{!-- <img src="https://user-images.githubusercontent.com/25878302/53659076-e2204680-3c5a-11e9-8c00-0c10bcd945e6.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar"> --}}
            <div class="list-title px-3 py-1 mb-2">To do</div>
            {{#each todoTask}}
            <div class="task-single" onclick="taskClick('{{id}}')">
                <img src="https://picsum.photos/200/200" alt="">
                <div class="task-body px-2 py-2">
                    <div class="task-cap mb-2">
                        {{name}}
                    </div>
                    <div class="task-ops">
                        {{#each members}}
                        <i class="fa-solid fa-user"></i> {{fullname}}
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
            <button data-mdb-toggle="modal" data-mdb-target="#createTaskToDo" class="btnAddTask px-3 py-1">
               <i class="fas fa-plus"></i> <span>Create Task</span>
            </button>
          </div>          
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3  px-1 ml-2 mb-5">          
                <div style="background-color: #F4F5F7" class="card rounded-0 shadow-sm px-2 py-2">
                  {{!-- <img src="https://user-images.githubusercontent.com/25878302/53659076-e2204680-3c5a-11e9-8c00-0c10bcd945e6.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar"> --}}
                  <div class="list-title px-3 py-1 mb-2">On Progress</div>
                  {{#each progressTask}}
                    <div class="task-single" onclick="taskClick('{{id}}')">
                        <img src="https://picsum.photos/200/200" alt="">
                        <div class="task-body px-2 py-2">
                            <div class="task-cap mb-2">
                                {{name}}
                            </div>
                            <div class="task-ops">
                                {{#each members}}
                                <i class="fa-solid fa-user"></i> {{fullname}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                  {{/each}}
                  {{!-- <button data-mdb-toggle="modal" data-mdb-target="#createTaskOnProgress" class="btnAddTask px-3 py-1">
                    <i class="fas fa-plus"></i> <span>Create Task</span>
                  </button> --}}
                </div>          
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3  px-1 ml-2 mb-5">          
                <div style="background-color: #F4F5F7" class="card rounded-0 shadow-sm px-2 py-2">
                  {{!-- <img src="https://user-images.githubusercontent.com/25878302/53659076-e2204680-3c5a-11e9-8c00-0c10bcd945e6.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar"> --}}
                  <div class="list-title px-3 py-1 mb-2">Done</div>
                  {{#each doneTask}}
                    <div class="task-single" onclick="taskClick('{{id}}')">
                        <img src="https://picsum.photos/200/200" alt="">
                        <div class="task-body px-2 py-2">
                            <div class="task-cap mb-2">
                                {{name}}
                            </div>
                            <div class="task-ops">
                               {{#each members}}
                                <i class="fa-solid fa-user"></i> {{fullname}}
                              {{/each}}
                            </div>
                        </div>
                    </div>
                  {{/each}}
                  {{!-- <button data-mdb-toggle="modal" data-mdb-target="#createTaskDone" class="btnAddTask px-3 py-1" >
                    <i class="fas fa-plus"></i> <span>Create Task</span>
                  </button> --}}
                </div>          
              </div>

              {{!-- <div class="col-md-12" id="fbcomment">
            <div class="header_comment">
              <div class="row">
                <div class="col-md-6 text-left">
                  <span class="count_comment">14 Comments</span>
                </div>
                <div class="col-md-6 text-right">
                  <span class="sort_title">Sort by</span>
                  <select class="sort_by">
                  <option>Top</option>
                  <option>Newest</option>
                  <option>Oldest</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="body_comment">
              <div class="row">
                <div class="avatar_comment col-md-1">
                  <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar"/>
                </div>
                <div class="box_comment col-md-11">
                  <textarea class="commentar" placeholder="Add a comment..."></textarea>
                  <div class="box_post">
                  <div class="pull-left">
                    <input type="checkbox" id="post_fb"/>
                    <label for="post_fb">Also post on Facebook</label>
                  </div>
                  <div class="pull-right">
                    <span>
                    <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
                    <i class="fa fa-caret-down"></i>
                    </span>
                    <button onclick="submit_comment()" type="button" value="1">Post</button>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <ul id="list_comment" class="col-md-12">
                  <!-- Start List Comment 1 -->
                  <li class="box_result row">
                    <div class="avatar_comment col-md-1">
                      <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar"/>
                    </div>
                    <div class="result_comment col-md-11">
                      <h4>Renan Silveira</h4>
                      <p>Recomendo muito a Green BotBet, parei de perder grana com apostas esportivas depois que conheci ela.</p>
                      <div class="tools_comment">
                        <a class="like" href="#">Curtir</a>
                        <span aria-hidden="true"> · </span>
                        <a class="replay" href="#">Reply</a>
                        <span aria-hidden="true"> · </span>
                        <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span> 
                        <span aria-hidden="true"> · </span>
                        <span>34m</span>
                      </div>
                      <ul class="child_replay">
                        <li class="box_reply row">
                          <div class="avatar_comment col-md-1">
                            <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar"/>
                          </div>
                          <div class="result_comment col-md-11">
                            <h4>Felipe Moreira</h4>
                            <p>@Renansilveira eu também cara, o green BotBet salvou minha vida rsrsr eu dobro minha banca toda a semana agora, só dou green agora</p>
                            <div class="tools_comment">
                              <a class="like" href="#">Curtir</a>
                              <span aria-hidden="true"> · </span>
                              <a class="replay" href="#">Reply</a>
                              <span aria-hidden="true"> · </span>
                              <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span> 
                              <span aria-hidden="true"> · </span>
                              <span>26m</span>
                            </div>
                            <ul class="child_replay"></ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  
                  <!-- Start List Comment 2 -->
                  <li class="box_result row">
                    <div class="avatar_comment col-md-1">
                      <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar"/>
                    </div>
                    <div class="result_comment col-md-11">
                      <h4>Renan Silveira</h4>
                      <p>Recomendo muito a Green BotBet, parei de perder grana com apostas esportivas depois que conheci ela.</p>
                      <div class="tools_comment">
                        <a class="like" href="#">Curtir</a>
                        <span aria-hidden="true"> · </span>
                        <a class="replay" href="#">Reply</a>
                        <span aria-hidden="true"> · </span>
                        <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span> 
                        <span aria-hidden="true"> · </span>
                        <span>34m</span>
                      </div>
                            <ul class="child_replay"></ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  
            
                  
                  <!-- Start List Comment 2 -->
                  <li class="box_result row">
                    <div class="avatar_comment col-md-1">
                      <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar"/>
                    </div>
                    <div class="result_comment col-md-11">
                      <h4>Gung Wah</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                      <div class="tools_comment">
                        <a class="like" href="#">Like</a>
                        <span aria-hidden="true"> · </span>
                        <a class="replay" href="#">Reply</a>
                        <span aria-hidden="true"> · </span>
                        <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span> 
                        <span aria-hidden="true"> · </span>
                        <span>26m</span>
                      </div>
                      <ul class="child_replay"></ul>
                    </div>
                  </li>
                </ul>
              <button class="show_more" type="button">Load 10 more comments</button>
              </div>
              </div>
		        </div>
          </div>
        </div> --}}

  {{!-- Modal --}}
  <div
        class='modal fade'
        id='staticBackdrop'
        data-mdb-backdrop='static'
        data-mdb-keyboard='false'
        tabindex='-1'
        aria-labelledby='staticBackdropLabel'
        aria-hidden='true'
    >
        <div class='modal-dialog modal-lg'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='staticBackdropLabel'>Modal title</h5>
                    <button type='button' class='btn-close' data-mdb-dismiss='modal' aria-label='Close'></button>
                </div>
                <div class='modal-body'>
                  <table id="foodTable" class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                            <tr>
                                <th>Ordinal</th>
                                <th>Full Name</th>
                                <th>text</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="listSeafood">
                            {{#if empty}}
                            <td colspan="6">
                                <p class="fw-bold mb-1">Không có món ăn / đồ uống nào</p>
                            </td>
                            {{else}}
                            {{#each data}}
                            <tr>
                                <td>
                                    <p class="fw-bold mb-1">{{index}}</p>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="{{getAvatar @text}}" class="rounded-circle" alt=""
                                            style="width: 45px; height: 45px" />
                                        <div class="ms-3">
                                            <p class="fw-bold mb-1">{{name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row mb-1">
                                        <span class="badge badge-success rounded-pill d-inline col-8">{{type}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">{{stringPrice}}</p>
                                    </div>
                                </td>
                                <td>
                                    {{createdAt}}
                                </td>
                                <td>
                                    <button onclick="renderContent('{{id}}')" type="button" data-toggle="modal"
                                        data-target="#newsModal{{id}}" class="btn btn-link btn-rounded btn-sm fw-bold"
                                        data-mdb-ripple-color="dark">
                                        Sửa
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                            {{/if}}

                        </tbody>
                    </table>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-mdb-dismiss='modal'>Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createTaskToDo" tabindex="-1" data-mdb-backdrop='static' data-mdb-keyboard='false'  aria-labelledby="createTaskToDoLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTaskToDoLabel">Create task</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method='post' action='/task/create' enctype="multipart/form-data">
              <!-- Text input -->
              <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">Task name</label>
                <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="" required>
                <input type="text" class="form-control d-none" name="id" value="{{id}}" id="" placeholder="" required>
              </div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class='row mb-4'>
                <div class='col'>
                  <div class='form-group'>
                    <label for='startDate' class='control-label'>Start Date</label>
                    <input id='startDate' name='start_date' class='form-control' type='date' required />
                  </div>
                </div>
                <div class='col'>
                  <div class='form-group'>
                    <label for='endDate' class='control-label'>End Date</label>
                    <input id='endDate' name='end_date' class='form-control' type='date' required />
                  </div>
                </div>
              </div>
              <!-- Text input -->
              <div class='form-outline mb-4'>
                <label for='AssigneeTodo' class='control-label'>Choose Members:</label>
                <select name='leader' class='custom-select' id='AssigneeTodo'>
                  <option selected>Open this select member</option>
                  <option value='1'>One</option>
                  <option value='2'>Two</option>
                  <option value='3'>Three</option>
                </select>
              </div>
              <div class="mb-4">
                <label for="formFile" class="control-label">Attachment:</label>
                <input class="form-control" type="file" name="files" id="formFile" multiple>
                <input class="form-control d-none" type="text" value="todo" name="status" id="formFile">
              </div>
              <div class="mb-4">
                <label for="description" class="control-label">Task description:</label>
                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
              </div>
              <!-- Submit button -->
              <button type='submit' class='btn btn-primary btn-block mb-4'>Create</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="createTaskOnProgress" tabindex="-1" data-mdb-backdrop='static' data-mdb-keyboard='false' aria-labelledby="createTaskOnProgressLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTaskOnProgressLabel">Create task</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method='post' action='/task/create' enctype="multipart/form-data">
              <!-- Text input -->
              <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">Task name</label>
                <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="" required>
                <input type="text" class="form-control d-none" name="id" value="{{id}}" id="" placeholder="" required>
              </div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class='row mb-4'>
                <div class='col'>
                  <div class='form-group'>
                    <label for='startDate' class='control-label'>Start Date</label>
                    <input id='startDate' name='start_date' class='form-control' type='date' required />
                  </div>
                </div>
                <div class='col'>
                  <div class='form-group'>
                    <label for='endDate' class='control-label'>End Date</label>
                    <input id='endDate' name='end_date' class='form-control' type='date' required />
                  </div>
                </div>
              </div>
              <!-- Text input -->
              <div class='form-outline mb-4'>
                <label for='AssigneeProgress' class='control-label'>Choose Members:</label>
                <select name='leader' class='custom-select' id='AssigneeProgress'>
                  <option selected>Open this select member</option>
                  <option value='1'>One</option>
                  <option value='2'>Two</option>
                  <option value='3'>Three</option>
                </select>
              </div>
              <div class="mb-4">
                <label for="formFile" class="control-label">Attachment:</label>
                <input class="form-control" type="file" name="files" id="formFile" multiple>
                <input class="form-control d-none" type="text" value="progress" name="status" id="formFile">
              </div>
              <div class="mb-4">
                <label for="description" class="control-label">Task description:</label>
                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
              </div>
              <!-- Submit button -->
              <button type='submit' class='btn btn-primary btn-block mb-4'>Create</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="createTaskDone" tabindex="-1" data-mdb-backdrop='static' data-mdb-keyboard='false' aria-labelledby="createTaskDoneLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTaskDoneLabel">Create task</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method='post' action='/task/create' enctype="multipart/form-data">
              <!-- Text input -->
              <!-- Text input -->
              <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">Task name</label>
                <input type="text" class="form-control d-none" name="id" value="{{id}}" id="" placeholder="" required>
                <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="" required>
              </div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class='row mb-4'>
                <div class='col'>
                  <div class='form-group'>
                    <label for='startDate' class='control-label'>Start Date</label>
                    <input id='startDate' name='start_date' class='form-control' type='date' required />
                  </div>
                </div>
                <div class='col'>
                  <div class='form-group'>
                    <label for='endDate' class='control-label'>End Date</label>
                    <input id='endDate' name='end_date' class='form-control' type='date' required />
                  </div>
                </div>
              </div>
              <!-- Text input -->
              <div class='form-outline mb-4'>
                <label for='AssigneeDone' class='control-label'>Choose Members:</label>
                <select name='leader' class='custom-select' id='AssigneeDone'>
                  <option selected>Open this select member</option>
                  <option value='1'>One</option>
                  <option value='2'>Two</option>
                  <option value='3'>Three</option>
                </select>
              </div>
              <div class="mb-4">
                <label for="formFile" class="control-label">Attachment:</label>
                <input class="form-control" type="file" name="files" id="formFile" multiple>
                <input class="form-control d-none" type="text" value="done" name="status" id="formFile">
              </div>
              <div class="mb-4">
                <label for="description" class="control-label">Task description:</label>
                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
              </div>
              <!-- Submit button -->
              <button type='submit' class='btn btn-primary btn-block mb-4'>Create</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<script>
    $(document).ready(function () {
      $('#foodTable').DataTable();
    });
    fillOption('AssigneeTodo');
    fillOption('AssigneeProgress');
    AssigneeTodo("AssigneeDone");
    function fillOption(Assignee) {
    $.ajax({
        url: `/member/list`,
        type: 'GET',
        dataType: 'json',
        success: function (data, textStatus, xhr) {
            if (!data) {
                console.log('err');
            } else {
                console.log(data);
                const select = document.getElementById(Assignee);
                select.innerHTML = ``;
                select.innerHTML += `<option selected>Open this select member</option>`;
                data.map((m) => {
                    select.innerHTML += `<option value='${m._id}'>${m.fullname}</option>`;
                });
            }
        },
        error: function (xhr, textStatus, errorThrown) {
            console.log('Error in Operation');
        },
    });
    }
</script>
   
