<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='icon' href='/images/cropped-logo-hh-nen-den-192x192.png' sizes='192x192' />
        <link rel='apple-touch-icon' href='/images/cropped-logo-hh-nen-den-180x180.png' />
        <meta name='msapplication-TileImage' content='/images/cropped-logo-hh-nen-den-270x270.png' />
        {{! SEO }}
        <meta name='description' content='{{meta.desc}}' />
        <meta name='keywords' content='{{meta.keywords}}' />
        <meta name='author' content='' />
        <link rel='canonical' href='{{urlcanonical}}' />
        <meta name='robots' content='INDEX, FOLLOW' />
        <meta property='og:site_name' content='http://localhost:81/lavarel%208/shop-vincent/' />
        <meta property='og:description' content='{{meta.desc}}' />
        <meta property='og:title' content='{{meta.title}}' />
        <meta property='og:url' content='{{urlcanonical}}' />
        <meta property='og:type' content='website' />

        <title>{{meta.title}}</title>
        {{> style}}
    </head>

    <body class='{{template}}'>
        {{>header}}
        <div class='container-fluid' style='margin-top:200px'>
            {{{body}}}
            
        </div>

        
        {{> footer}}

        

        
        
        
        
        <script>
            function myFunction() { var x = document.getElementById("hide"); if (x.style.display === "inline-grid") {
            x.style.display = "none"; } else { x.style.display = "inline-grid"; } } function topFunction() {
            document.body.scrollTop = 0; document.documentElement.scrollTop = 0; }
        </script>
        {{> script}}
    </body>
</html>